# Игнорируем папки с зависимостями
node_modules/
venv/
.env

# Игнорируем файлы, специфичные для Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Игнорируем файлы, специфичные для React
build/
dist/
.DS_Store